@use "../abstracts/variables" as *;
@use "../abstracts/mixings" as *;

.content {
   padding: 122px 5rem 3rem;
   @include media-breakpoint-down(md) {
      padding: 0 5rem 3rem;
   }
   @include media-breakpoint-down(sm) {
      padding: 0 1.5rem;
   }
	&__item {
		position: relative;
		margin-top: $general-element-spacing;

      // style border
      padding: 0.1rem;

      animation: fadeInSlideFromTop .5s ease-out;
      background-color: $color-primary-gray;
      > div {
         position: relative;
      }
      img {
         width: 100%;
      }
      &.not-loaded{
         display: none;
      }
      &.content-is-loading{
         visibility: hidden;
         height: 0;
         overflow: hidden;
         margin-top: 0;
      }
      &--mix{
         > img{
            width: 50%;
            padding: 1rem;
         }
      }
   }
   &__profile{
      > img {
         width: 40%;
         float: left;
         margin: 1rem 1rem 1rem 0;
         @include media-breakpoint-down(sm) {
            width: 100%;
            float: none;
            margin: 1rem 0;
         }
      }
   }
   &__overlay{
      overflow: hidden;
   }
   &__overlay, &__overlay-mask, &__overlay-text{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
   }
   &__overlay-mask{
      opacity: 0;
      transition: .4s ease;
      background-color: $color-black;
   }
   &__overlay-text{
      color: $color-white;
      opacity: 0;
      transition: .4s ease;
      padding: 2rem;
      > div{
         position: absolute;
         bottom: 1rem;
      }
      .small-text{
         font-size: 14px;
         color: #d7cbcb;
      }
   }
   &__overlay:hover &__overlay-mask {
      opacity: 0.8;
   }
   &__overlay:hover &__overlay-text {
      opacity: 1;
   }

   &__text{
      padding: 2rem 3.5rem;
   }
}


.alert{
   display: none;
   &.show{
      display: block;
      animation: fadeIn 1s ease;
   }
   &.hide{
      animation: fadeOut 1s ease;
      animation-delay: 7s;      
   }
}
/*
.image-gallery{
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   &__column{
      flex: 25%;
      max-width: 25%;
      padding: 0 1px;
      &.column-size-3{
         flex: 33.33%;
         max-width: 33.33%
      }
      img{
         margin-top: 1px;
         vertical-align: middle;
      }
   }
}
*/