.loading{
    &.container {
       visibility: hidden;
    }
    &.navigation {
       visibility: hidden;
    }
    &.content-container {
       visibility: hidden;
    }
 
    &.loader {
       &__container{
          width: 100%;
          height: 100vh;
          position: absolute;
          z-index: 9000;
       }
    }
    .loader{
       &__box{
          @include center-box;
          > div{
             border: 1.6rem solid $color-primary-light;
             border-radius: 50%;
             border-top: 1.6rem solid transparent;
             border-bottom: 1.6rem solid transparent;
             width: 12rem;
             height: 12rem;
             animation: spin 2s linear infinite;
          }
       }
    }
    /* animation delay */
    .content__item, .nav__link, .header__logo{
       animation: none;
    }
 }
 