@use './styles/mixins' as *;

.content {
    padding: 122px 5rem 3rem;

    @include media-breakpoint-down(md) {
        padding: 0 5rem 3rem;
    }

    @include media-breakpoint-down(sm) {
        padding: 0 1.5rem;
    }
}
.homeLanguage {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 10;
    @media (max-width: 991px) {
        right: 10rem;
    }
}
