// Colors
// core colors
$color-primary-light: #007c78;
$color-primary-medium: #56c1ac;
$color-primary-gray: #cdd4d2;
$color-primary-dark: #555c5a;

$color-black: #000;
$color-dark: #ccc;
$color-white: #fff;

// default colors
$background-color-default: $color-white;
$font-color: $color-black;
$font-color-light: $color-white;
$font-color-link: $color-primary-dark;
$color-error: #f46e42;

// Font Sizes
$font-size-default: 1.6rem;
$font-size-title: 2.5rem;
$font-size-footer: 1.2rem;

// spacing
$general-element-spacing: 3rem;
